@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap-icons/font/bootstrap-icons.min.css');
@import url('slick-carousel/slick/slick.css');
@import url('slick-carousel/slick/slick-theme.css');

.bgcolor-red{
  background-color: #d02024;
}
.bgcolor-orange{
  background-color: #f36f2a;
}
.bgcolor-yelow{
  background-color: #fde402;
}
.no-padding-nav {
  padding: 0;
}

.shareredes{
    display: inline-flex;
    vertical-align: middle;
}

.shareredestitulo{
  vertical-align: middle;
}

.fondotop{
  background-color: #b11d21 ;
  color: #FFF;
  font-size: 0.8em;
  padding: 1.5ex 15px 15px 1.5ex;
}
.txttop{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  vertical-align: middle;
  padding-top: 0.5ex;
}

.animacionmenu{
  position: relative;
}
.menutop{
  position: absolute;
  top: 0px;
  width: 100%;
  background: #fff;
  margin: auto;
  z-index: 99999;
}

.menu-items {
  justify-content: flex-end;
  width: 100%;
}
.menu-items li a {
  color:  #ec6d29;
  font-weight: 600;
  font-size: 1.15em;
}
.menu-items li a:focus, .menu-items li a:active, .menu-items li a.active {
  color:  #f9dd07 ;
  font-weight: 600;
  font-size: 1.15em;
}

.footerTitulo{
  font-size: 1.3em;
    font-weight: 600;
    color: #b31c22;
    padding-top: 1.1ex ;
    padding-bottom: 1ex;
}

.iconfooter{
  padding-right: 1em;
}

.footer2{
  padding-bottom:1.5ex ;
}
.footer2 ul{
  padding-left: 0px;
}

.footer2 ul li{
  list-style: none;
}
.footer2 a, .footer2 a:focus, .footer2 a:active,.footer2{
  color: #000;
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none;
}

.footer2 .textoslogan{
  padding-top: 1em;
  padding-bottom: 1ex;
}

.textoslider {
  font-size: 2.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

.subtextoslider {
  font-size: 1.5em;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

.titulocliente {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Tipo de fuente */
  color: #1e1e1e; 
  font-size: 24px; 
  text-transform: uppercase;
}
.containerformulario {
  max-width: 600px; /* Establece el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade espacio interno al contenedor */
  background-color: #f0f0f0; /* Color de fondo del contenedor */
  border-radius: 10px; /* Redondea los bordes del contenedor */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Agrega sombra al contenedor */
}