@import url('~bootstrap-icons/font/bootstrap-icons.min.css');

.bgcolor-white{
  background-color: #ffffff; /* color blanco */
}
.bgcolor-red{
  background-color: #d02024;
}
.bgcolor-orange{
  background-color: #f36f2a;
}
.bgcolor-yelow{
  background-color: #fde402;
}
.no-padding-nav {
  padding: 0;
}

.shareredes{
    display: inline-flex;
    vertical-align: middle;
}
.shareredes a{
  transition: transform 0.3s ease;
}

.shareredes a:hover{
  transform: scale(1.25); 
  transition: transform 0.4s ease;
}

.shareredestitulo{
  vertical-align: middle;
}

.fondotop{
  background-color: #b11d21 ;
  color: #FFF;
  font-size: 0.8em;
  padding: 1.5ex 15px 15px 1.5ex;
}

.fondotop-up {
  background-color: #b11d21 ;
  color: #FFF;
  font-size: 0.8em;
  padding: 1.5ex 15px 15px 1.5ex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000; /* Ajusta el z-index según sea necesario */
}

.txttop{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  vertical-align: middle;
  padding-top: 0.5ex;
}

.animacionmenu{
  position: relative;
}
.menutop{
  position: absolute;
  top: 0px;
  width: 100%;
  background: #fff;
  margin: auto;
  z-index: 99999;
}

.menu-items {
  justify-content: flex-end;
  width: 100%;
}
.menu-items li a {
  color:  #ec6d29;
  font-weight: 600;
  font-size: 1.15em;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.menu-items li a:focus, .menu-items li a:active, .menu-items li a.active {
  font-weight: 600;
  font-size: 1.15em;
}

.menu-items li a:hover {
  transform: scale(1.1);
}

.menu-items li a:not(:hover) {
  transition-delay: 0.1s;
}

.menu-items li a:not(:hover):hover {
  transition-delay: 0s;
  transform: scale(1);
}

.footerTitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: #b11d21;
    padding-top: 1.1ex ;
    padding-bottom: 1ex;
}

.iconfooter{
  padding-right: 1em;
}

.footer2{
  padding-bottom:1.5ex ;
  background-color: #f6a92dd7; /* Color de fondo deseado */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 20px 0;
}

.footer2 ul{
  padding-left: 0px;
}

.footer2 ul li{
  list-style: none;
}
.footer2 a, .footer2 a:focus, .footer2 a:active,.footer2{
  color: #333333;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none;
}


.footer2 .textoslogan{
  padding-top: 1em;
  padding-bottom: 1ex;
}


.titulocliente {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Tipo de fuente */
  color: #1e1e1e; 
  font-size: 24px; 
  text-transform: uppercase;
}
.containerformulario {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #f0f0f0; 
  border-radius: 10px; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
}

.zoom-effect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.img-cliente {
  transition: transform 0.3s ease;
}
.zoom-effect:hover .img-cliente {
  transform: scale(1.4);
  transition: transform 0.4s ease;
}

.auspiciadores1 {
  margin-top: 20px; /* Espacio superior */
  padding: 20px; /* Espaciado interno */
  background-color: #ffffff; /* Color de fondo */
  border-radius: 10px; /* Radio de borde */
}

.tituloComponentes {
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de fuente */
  color: #333; /* Color de texto */
  margin-bottom: 20px; /* Espacio inferior */
}
.auspiciadores1 .slick-arrow:focus,.auspiciadores1 .slick-arrow:hover {
  background: #e20613
}
.auspiciadores1 .slick-arrow {
  height: 200px;
  background: #f6a92d
}

.img-icon-logo {
  transition: transform 0.3s ease; 
}

.img-icon-logo:hover {
  transform: rotate(-15deg); 
}

.list-group-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  background-color: #e20613; 
  color: #ffffff; 
}

.list-destacado:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  background-color: #f6a92d; 
  color: #ffffff;
}
.carousel-item {
  position: relative; 
}

.carousel-item::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.carousel-caption {
  z-index: 1; 
  text-align: center;
}

.carousel-caption-container {
  display: flex;
  flex-direction: column; /* Alinear elementos verticalmente */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  height: 100%; /* Establecer altura al 100% del contenedor */
}

.textslider {
  color: #ffffff;
  font-size: 2.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 4px #0000006f;
  transition: transform 0.3s ease;
}

.subtexslider {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

.textslider:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
  color: #ffffff;
  text-shadow: none;
}


.cardcont {
  transition: transform 0.3s ease; 
}
.cardcont:hover {
  transform: scale(1.05); 
  transition: transform 0.4s ease; 
}
